body {
}
.nav-bar
        {
            background-color:#a76060;
            text-align:center; 
            width: 175px;
        }

            .nav-bar:hover {
                color: azure;
            }

            .stayDown {
                margin-top: 250px;
            }

            #AdminDropDown {
                display: none;
            }

            .main li {
                list-style: none;
                display: block;
                background-color: brown;
                text-align: center;
                width: 176px;
            }

            .pageTitleBanner
            {
                text-align:center;
                font-family:Calibri;
                font-weight:bold;
                font-size:large; 
                color:brown;                
            }