<!DOCTYPE html>
<html>
<head>
    <title>Admin - Group Maintenance</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="../CSS/AdminStyleSheet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <style>
        input.ng-invalid {
            background-color: lightblue;
        }
    </style>

    <script type="text/javascript">
        function validateForm()
        {
            var groupID = document.getElementById("groupId").value;
            var desc = document.getElementById("description").value;

            if (groupID == "" && desc == "")
            {
                alert("Group ID and Description can`t be empty");
                return false;
            }

            if (groupID == "")
            {
                alert("Group ID can`t be empty");
                return false;
            }

            if (desc == "")
            {
                alert("Description can`t be empty");
                return false;
            }

            if (document.getElementById("description").value.length > 250)
            {
                return false;
            }
            alert("Details successfully added!");
            return true;
        }

        function validategroupID(val)
        {
            if (!val.value.match(/^[a-zA-Z]+[-]+[0-9]/))
            {
                alert("Group ID must contain letters followed by a hyphen and then a number!");
                val.value = "";
                val.focus();
            }
        }

        function validateGroupDescription(val)
        {
            if (val.value.length >= 250)
            {
                alert("Description cannot exceed 250 characters!");
                val.value = "";
                val.focus();
                return false;
            }
            return true;
        }
    </script>

    <script src="../Libraries/w3data.js"></script>    
</head>
<body>

    <div w3-include-html="CommonHeader.html"></div>
    <script>
        w3IncludeHTML();
    </script>

    <form ng-app="" name="GroupMaintenance" onsubmit="return validateForm()">
        <table align="center" width="100%">
            <tr>
                <td class="pageTitleBanner">GROUP MAINTENANCE</td>
            </tr>
        </table>

        <table class="inputPanelTable" width="80%" align="center" cellspacing="10px">
            <tr>
                <td style="text-align:right">
                    <label for="groupId">Group ID</label><sup style="color:red">*</sup>
                </td>
                <td colspan="2">
                    <input type="text" ng-model="groupId" id="groupId" width="40" placeholder="Group ID" title="Group ID must have a lower case or uppercase name followed by hyphen and a number" onblur="validategroupID(this)" required />
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <label for="description">Description</label><sup style="color:red">*</sup>
                </td>
                <td colspan="2">
                    <textarea ng-model="groupDesciption" id="description" rows="5" cols="50" placeholder="Enter a brief description of the group here..." onblur="return validateGroupDescription(this)" required></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="right" width="50px">
                    <input type="submit" value="Save" class="buttonStyle" />
                </td>
                <td align="left">
                    <input type="reset" value="Reset" class="buttonStyle" />
                </td>
            </tr>
        </table>

    </form>
</body>
</html>
