body {
    
}

.nav-bar {
    background-color: #a76060;
    color:black;
    text-align: center;
    width: 336px;
    cursor: pointer;
    font-family:'Bookman Old Style';
    font-size:medium;
}

    .nav-bar:hover {
        color:white;
        background-color:#753030;
    }

.stayDown {
    padding-top: 5px;
    position: fixed;
    height: 25px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

#AdminDropDown {
    display: none;
}

.main li {
    list-style: none;
    display: block;
    background-color: brown;
    text-align: center;
    width: 176px;
}

.pageTitleBanner {
    text-align: center;
    font-family: Calibri;
    font-weight: bold;
    font-size: large;
    color: brown;
}

.buttonStyle {
    font-family: Calibri;
    font-weight: bold;
    background-color: #1833d5;
    color: white;
}

textarea {
    resize: none;
}

.APOP_Title {
    width: 100%;
}

/*Style for drop down menu*/
.dropdown {
    position: relative;
    display: inline-block;
    
}

.inputPanelTable{
    background-color:#e4dfdf; 
    border-style:groove; 
    border-radius:10px;
    width:600px;
    border-color:aliceblue;
}
/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 5px 16px;
        text-decoration: none;
        display: block;
        font-family:'Bookman Old Style';
        font-size:small;        
    }

    .dropdown-content a:hover{
        color:white;
        background-color:black;
    }
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    width: 336px;
    text-align: center;
}
